/* Add a black background color to the top navigation */
.topnav {
  background-color: #20202c;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav .page-holder a {
  color: #a0a8bd;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav .page-holder a:hover {
  background: #16161f;
  color: white;
}

/* Add a color to the active/current link */
.topnav .page-holder {
  display: inline;
  min-width: 200px;
  min-height: 40px;
  border: #16161f;
  border-width: 2px;
}

.active {
  background-color: #323044;
  color: white;
}
