/* Add a black background color to the top navigation */
.topnav {
  background-color: #20202c;
  overflow: hidden;
  height: 40px;
  display: flex;
}

/* Style the links inside the navigation bar */
.topnav .page-holder a {
  color: #a0a8bd;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav .page-holder a:hover {
  background: #16161f;
  color: white;
}

.topnav .page-holder {
  left: auto;
  border-right: 1px solid rgb(0, 0, 0);
  background-color: rgb(32, 32, 44);
  color: rgb(160, 168, 189);
  width: 120px;
  height: 35px;
  min-width: fit-content;
}

.topnav .page-holder.active {
  background-color: rgb(50, 48, 68);
  color: rgb(214, 214, 214);
}
